@using ChallengeMe.UI.Web.Models.Helpers
@*<script src="~/Scripts/Views/Inscripciones.js"></script>

<script>
    $(retrieveAll).ready(function () { });
</script>*@

<script src="~/Scripts/Views/Eventos.js"></script>

<script>
    $(retrieveAll).ready(function () { });
</script>

@{
    ViewBag.Title = "Inscripcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inscripciones</h2>

<div class="row">
    @*@*<div class="col-sm-5 clearfix">
             <div class="panel panel-primary" style="margin-top: 20px;">
                 <div class="panel-heading">
                     <h3 class="panel-title">Informacion</h3>
                 </div>
                 <div class="panel-body">
                     @Html.CtrlInput(id: "txtId", label: "Id", disabled: false, type: "text", required: true)
                     @Html.CtrlInput(id: "txtNombre", label: "Nombre", type: "text", required: true)
                     @Html.CtrlInput(id: "txtDescripcion", label: "Descripcion", type: "text", required: false)
                     @Html.CtrlButton(id: "btnGuardar", value: "Guardar", evtOnClick: "createActividad()")
                     @@Html.CtrlButton(id: "btnBuscar", value: "Buscar", evtOnClick: "retrieveActividad()")
                     @Html.CtrlButton(id: "btnActualizar", value: "Actualizar", disabled: true)
                     @Html.CtrlButton(id: "btnEliminar", value: "Eliminar", disabled: true)
                     <br><br />
                     @Html.CtrlButton(id: "btnLimpiar", value: "Limpiar todos los campos", evtOnClick: "limpiarCampos()")
                     @Html.CtrlButton(id: "btnVolver", value: "VOLVER AL INICIO", buttonType: "default", evtOnClick: "volverAlInicio()")
                 </div>
             </div>
        </div>*@
    <div class="col-sm-12">
        @Html.CtrlTable(id: "tblInscripciones", title: "Lista de Inscripciones",
            columnHeaders: "Id, Nombre, Descripcion",
            onSelect: "BindEventosFields()")
    </div>
</div>